In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate
from sklearn.datasets import fetch_california_housing
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint
import matplotlib.pyplot as plt

In [4]:
df2 = pd.read_csv('E:\KHDL\data\data.csv', 'r')

In [5]:
df = pd.read_csv('E:\KHDL\data\product.csv', error_bad_lines=False)
df.head(1)

b'Skipping line 9: expected 65 fields, saw 66\nSkipping line 11: expected 65 fields, saw 66\nSkipping line 31: expected 65 fields, saw 66\nSkipping line 33: expected 65 fields, saw 66\nSkipping line 35: expected 65 fields, saw 66\nSkipping line 43: expected 65 fields, saw 67\nSkipping line 51: expected 65 fields, saw 66\nSkipping line 59: expected 65 fields, saw 67\nSkipping line 61: expected 65 fields, saw 67\nSkipping line 107: expected 65 fields, saw 66\nSkipping line 119: expected 65 fields, saw 66\nSkipping line 165: expected 65 fields, saw 66\nSkipping line 201: expected 65 fields, saw 66\nSkipping line 211: expected 65 fields, saw 66\nSkipping line 239: expected 65 fields, saw 66\nSkipping line 323: expected 65 fields, saw 66\nSkipping line 401: expected 65 fields, saw 66\nSkipping line 499: expected 65 fields, saw 66\nSkipping line 523: expected 65 fields, saw 66\nSkipping line 545: expected 65 fields, saw 66\nSkipping line 623: expected 65 fields, saw 66\nSkipping line 635: expected 65 fields, saw 66\nSkipping line 637: expected 65 fields, saw 66\nSkipping line 771: expected 65 fields, saw 66\nSkipping line 797: expected 65 fields, saw 66\nSkipping line 1027: expected 65 fields, saw 66\nSkipping line 1175: expected 65 fields, saw 66\nSkipping line 1197: expected 65 fields, saw 66\nSkipping line 1199: expected 65 fields, saw 66\nSkipping line 1211: expected 65 fields, saw 66\n'

,id,master_id,sku,name,url_key,url_path,short_url,type,book_cover,short_description,...,categories,breadcrumbs,installment_info,is_seller_in_chat_whitelist,inventory,warranty_info,return_and_exchange_policy,best_price_guaranteed,asa_cashback_widget,benefits
0,148803925,148803925,9348252343063,Giày chạy bộ nam New Balance Classic - ML574,giay-chay-bo-nam-new-balance-classic-ml574-p14...,giay-chay-bo-nam-new-balance-classic-ml574-p14...,https://tiki.vn/product-p148803925.html?spid=1...,configurable,NaN,Giày chạy bộ nam New Balance Classic - ML574Th...,...,"{""id"": 24174, ""name"": ""Giày chạy bộ nam"", ""is_...","[{'url': '/the-thao-da-ngoai/c1975', 'name': '...",NaN,True,"{""product_virtual_type"": null, ""fulfillment_ty...","[{'name': 'Hướng dẫn bảo hành', 'value': 'Xem ...",Đổi trả trong<br><b>30 ngày</b><br>nếu sp lỗi,True,"{'sep': 5, 'rate': 633, 'astra_convert_rate': ...",[{'icon': 'https://salt.tikicdn.com/ts/upload/...

In [6]:
df2['id'] = df['id']
df2['name'] = df['name']
df2['type'] = df['type']
df2['price'] = df['price']
df2['original_price'] = df['original_price']
df2['discount'] = df['discount']
df2['discount_rate'] = df['discount_rate']
df2['rating_average'] = df['rating_average']
df2['review_count'] = df['review_count']
df2['productset_group_name'] = df['productset_group_name']
df2['day_ago_created'] = df['day_ago_created']
df2['all_time_quantity_sold'] = df['all_time_quantity_sold']
df2.to_csv("output.csv", sep=",")

In [7]:

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   .                       0 non-null      object
 1   id                      1000 non-null   int64
 2   name                    1000 non-null   object
 3   type                    1000 non-null   object
 4   price                   1000 non-null   int64
 5   original_price          1000 non-null   int64
 6   discount                1000 non-null   int64
 7   discount_rate           1000 non-null   int64
 8   rating_average          1000 non-null   float64
 9   review_count            1000 non-null   int64
 10  productset_group_name   1000 non-null   object
 11  day_ago_created         999 non-null    float64
 12  all_time_quantity_sold  245 non-null    float64
dtypes: float64(3), int64(6), object(4)
memory usage: 101.7+ KB

In [8]:
df["rating_average"].median()

0.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 65 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           1000 non-null   int64
 1   master_id                    1000 non-null   int64
 2   sku                          1000 non-null   int64
 3   name                         1000 non-null   object
 4   url_key                      999 non-null    object
 5   url_path                     1000 non-null   object
 6   short_url                    1000 non-null   object
 7   type                         1000 non-null   object
 8   book_cover                   0 non-null      float64
 9   short_description            1000 non-null   object
 10  price                        1000 non-null   int64
 11  list_price                   1000 non-null   int64
 12  original_price               1000 non-null   int64
 13  badges                       1000 non-null   object
 14  badges_new                   1000 non-null   object
 15  discount                     1000 non-null   int64
 16  discount_rate                1000 non-null   int64
 17  rating_average               1000 non-null   float64
 18  review_count                 1000 non-null   int64
 19  review_text                  1000 non-null   object
 20  favourite_count              1000 non-null   int64
 21  thumbnail_url                1000 non-null   object
 22  has_ebook                    1000 non-null   bool
 23  inventory_status             1000 non-null   object
 24  inventory_type               1000 non-null   object
 25  productset_group_name        1000 non-null   object
 26  is_fresh                     1000 non-null   bool
 27  seller                       0 non-null      float64
 28  is_flower                    1000 non-null   bool
 29  has_buynow                   1000 non-null   bool
 30  is_gift_card                 999 non-null    object
 31  salable_type                 1 non-null      float64
 32  data_version                 1000 non-null   int64
 33  day_ago_created              999 non-null    float64
 34  all_time_quantity_sold       245 non-null    float64
 35  meta_title                   0 non-null      float64
 36  meta_description             1 non-null      object
 37  meta_keywords                755 non-null    object
 38  is_baby_milk                 1000 non-null   object
 39  is_acoholic_drink            1000 non-null   object
 40  description                  999 non-null    object
 41  images                       246 non-null    object
 42  warranty_policy              754 non-null    object
 43  brand                        1000 non-null   object
 44  current_seller               1000 non-null   object
 45  other_sellers                1000 non-null   object
 46  seller_specifications        1000 non-null   object
 47  specifications               1000 non-null   object
 48  product_links                1000 non-null   object
 49  configurable_options         1000 non-null   object
 50  configurable_products        999 non-null    object
 51  services_and_promotions      1000 non-null   object
 52  promitions                   991 non-null    object
 53  stock_item                   667 non-null    object
 54  quantity_sold                982 non-null    object
 55  categories                   556 non-null    object
 56  breadcrumbs                  963 non-null    object
 57  installment_info             861 non-null    object
 58  is_seller_in_chat_whitelist  986 non-null    object
 59  inventory                    975 non-null    object
 60  warranty_info                661 non-null    object
 61  return_and_exchange_policy   639 non-null    object
 62  best_price_guaranteed        223 non-null    object
 63  asa_cashback_widget          162 non-null    object
 64  benefits                     47 non-null     object
dtypes: bool(4), float64(7), int64(11), object(43)
memory usage: 480.6+ KB

In [10]:
df2 = pd.read_csv('E:\KHDL\data\data.csv')
df2.head()

Empty DataFrame
Columns: [.]
Index: []

In [11]:
df1 = pd.read_csv('E:\KHDL\data\output.csv')
df1.pop('.')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1000 non-null   int64
 1   id                      1000 non-null   int64
 2   name                    1000 non-null   object
 3   type                    1000 non-null   object
 4   price                   1000 non-null   int64
 5   original_price          1000 non-null   int64
 6   discount                1000 non-null   int64
 7   discount_rate           1000 non-null   int64
 8   rating_average          1000 non-null   float64
 9   review_count            1000 non-null   int64
 10  productset_group_name   1000 non-null   object
 11  day_ago_created         999 non-null    float64
 12  all_time_quantity_sold  245 non-null    float64
dtypes: float64(3), int64(7), object(3)
memory usage: 101.7+ KB

In [12]:
df1.head()

,Unnamed: 0,id,name,type,price,original_price,discount,discount_rate,rating_average,review_count,productset_group_name,day_ago_created,all_time_quantity_sold
0,0,148803925,Giày chạy bộ nam New Balance Classic - ML574,configurable,1537000,2195000,658000,30,5.0,9,Thể Thao - Dã Ngoại/Giày thể thao nam/Giày chạ...,185.0,15.0
1,1,131347928,Giày Thể Thao Nam Biti’s Hunter X Z MIDNIGHT B...,configurable,1207000,1207000,0,0,4.7,372,Thể Thao - Dã Ngoại/Giày thể thao nam/Giày chạ...,238.0,752.0
2,2,56339896,Xe máy điện VinFast Klara S,configurable,39900000,39900000,0,0,4.6,513,Ô Tô - Xe Máy - Xe Đạp/Xe điện/Xe máy điện,734.0,1175.0
3,3,118281790,Giày Thể Thao Nam Biti’s Hunter X Z Collection...,configurable,1086000,1207000,121000,10,4.6,38,Thể Thao - Dã Ngoại/Giày thể thao nam/Giày chạ...,301.0,71.0
4,4,37468142,Giày thể thao nam IKEN S&B - Xanh Dương,configurable,699000,699000,0,0,1.0,1,Thể Thao - Dã Ngoại/Giày thể thao nam/Giày chạ...,965.0,10.0